[submodule "yannpp"]
	path = yannpp
	url = https://github.com/ribtoks/yannpp.git
[submodule "cnpy"]
	path = cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "vendors/zlib"]
	path = vendors/zlib
	url = https://github.com/madler/zlib.git
